<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">

  <script defer src="/scripts/app.js"></script>
  <title>SMART TO DO</title>
</head>
<body>

  <header>
    <div>SMART TODO LIST</div>
  </header>

  <main class="container">
    <!-- ADD ITEM SECTION -->
    <section class="add-item">
      <form action="/additem" method="POST">
        <label for="title">Add TODO items here</label>
        <input type="text" id="title" name="title">
        <button type="submit">Submit</button>
      </form>
    </section>

    <!-- CATEGORIES SECTION -->
    <section class="categories-container">
        <form action="/api/categoryitems" method="get">
          <input type="hidden" name="categoryId" value="1">
          <button type="submit" class="fetch-movies">To watch</button>
        </form>

        <form action="/api/categoryitems" method="get">
          <input type="hidden" name="categoryId" value="2">
          <button type="submit" class="fetch-btn">To read</button>
        </form>

        <form action="/api/categoryitems" method="get">
          <input type="hidden" name="categoryId" value="3">
          <button type="submit" class="fetch-btn">To eat</button>
        </form>

        <form action="/api/categoryitems" method="get">
          <input type="hidden" name="categoryId" value="4">
          <button type="submit" class="fetch-btn">To buy</button>
        </form>
    </section>

    <!-- ITEMS SECTION -->
    <section class="items-container">
      <ul class="items"></ul>
    </section>

  </main>
</body>
</html>
