<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/app.js"></script>
  <title>SMART TO DO</title>
</head>
<body>

  <header class="header">
    <div>SMART TODO LIST</div>
    <h3 class="user-login"></h3>
    <form action="/logout" method="post" class="logout">

    </form>
  </header>

  <main class="container">
    <!-- LOGIN SECTION -->
    <section class="login">
      <form action="/login" method="post">
        <input type="hidden" name="userId" value="1">
        <button class="user-btn" type="submit">USER 1</button>
      </form>

      <form action="/login" method="post">
        <input type="hidden" name="userId" value="2">
        <button class="user-btn" type="submit">USER 2</button>
      </form>

      <form action="/login" method="post">
        <input type="hidden" name="userId" value="3">
        <button class="user-btn" type="submit">USER 3</button>
      </form>
    </section>

    <!-- ADD ITEM SECTION -->
    <section class="add-item">
      <form action="/additem" method="POST">
        <label for="title">Add TODO items here</label>
        <input type="text" id="title" name="title">
        <button type="submit" class="add-todo-item">Submit</button>
      </form>
      <h3 class="wait-msg hidden">Please wait...</h3>
    </section>

    <!-- CATEGORIES SECTION -->
    <section class="categories-container">
          <button type="submit" id="1" class="fetch-movies list-items">To watch</button>
          <button type="submit" id="2" class="fetch-books list-items">To read</button>
          <button type="submit" id="3" class="fetch-restaurants list-items">To eat</button>
          <button type="submit" id="4" class="fetch-products list-items">To buy</button>
    </section>

    <section class="error-msg">
      <h3 class="error-msg1">You must be logged in to add an item/s</h3>
      <h3 class="error-msg2">You must be logged in to view item/s</h3>
    </section>

    <!-- ITEMS SECTION -->
    <section class="items-container"></section>

  </main>
</body>
</html>
