<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>SMART TO DO</title>
</head>
<body>
  <header>
    <div>SMART TODO LIST</div>
    <div>LOGIN</div>
  </header>
  <main>
    <!-- not yet sure about this end point -->
    <form action="/api/items" method="POST">
      <label for="title">Add TODO items here</label>
      <input type="text" id="title" name="title">
      <button type="submit">Submit</button>
    </form>
    <div class="category-btn">
      <button>To watch</button>
      <button>To read</button>
      <button>To eat</button>
      <button>To buy</button>
    </div>

  </main>
</body>
</html>
