<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>SMART TO DO</title>
</head>
<body>

  <header class="header">
    <div>SMART TODO LIST</div>
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </header>

  <main class="container">
    <!-- LOGIN SECTION -->
    <section class="login">
      <form action="/login" method="post">
        <input type="hidden" name="userId" value="1">
        <button class="user-btn" type="submit">USER 1</button>
      </form>

      <form action="/login" method="post">
        <input type="hidden" name="userId" value="2">
        <button class="user-btn" type="submit">USER 2</button>
      </form>

      <form action="/login" method="post">
        <input type="hidden" name="userId" value="3">
        <button class="user-btn" type="submit">USER 3</button>
      </form>
    </section>

    <!-- ADD ITEM SECTION -->
    <section class="add-item">
      <form action="/additem" method="POST">
        <label for="title">Add TODO items here</label>
        <input type="text" id="title" name="title">
        <button type="submit">Submit</button>
      </form>
    </section>

    <!-- CATEGORIES SECTION -->
    <section class="categories-container">
        <form action="/api/categoryitems" method="get">
          <input type="hidden" name="categoryId" value="1">
          <button type="submit" class="fetch-movies">To watch</button>
        </form>

        <form action="/api/categoryitems" method="get">
          <input type="hidden" name="categoryId" value="2">
          <button type="submit" class="fetch-books">To read</button>
        </form>

        <form action="/api/categoryitems" method="get">
          <input type="hidden" name="categoryId" value="3">
          <button type="submit" class="fetch-foods">To eat</button>
        </form>

        <form action="/api/categoryitems" method="get">
          <input type="hidden" name="categoryId" value="4">
          <button type="submit" class="fetch-products">To buy</button>
        </form>
    </section>

    <!-- ITEMS SECTION -->
    <section class="items-container"></section>

  </main>
</body>
</html>
