header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

  .logo {
    font-size: 36px;
  }

  button {
    font-size: large;
    border-radius: 8px;
  }

  button:hover {
    cursor: pointer;
    background-color: orange;
  }

  .login-stuff {
    display: flex;

    .login {
      display: flex;
    }

    .user-login {
      margin: 0px 1em;
    }

    .user-btn {
      margin: 0px .5em;
    }
  }
}
