body {
  background-color: #00ccb1;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;


  .add-item {
    padding: 10px;
  }

  .categories-container {
    display: flex;

    button {
      margin: 0px 15px;
    }
  }


  .items-container {
    display: flex;
    flex-direction: column;

    border: 3px solid black;
    background-color: #ac7a17;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
    padding: 15px;
    margin-top: 15px;

    ul {
      padding: 0px;
      margin: 0px;
    }

    i:hover {
      cursor: pointer;
    }

    li {
      margin: .5em;
    }

    li:hover {
      cursor: grab;
    }

    button {
      padding: 0px;
      border: 0px;
      background: none;
      :hover {
        cursor: pointer;
      }
    }

    .list-entry {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.highlighted {
  background-color: yellow;
}

.hidden {
  display: none;
}
