@mixin boxTheme($color: white) {
  background-color: $color;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  box-shadow: 7px 7px #325745;
  border: 3px solid black;
}

body {
  background-color: #00ccb1;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.35em;

  .add-item {
    padding: 10px;
  }

  button {
    font-size: 1em;
    border-radius: 8px;
  }

  button:hover {
    cursor: pointer;
    background-color: orange;
  }

  .add-item {
    @include boxTheme($color: #a3408a);

    margin-bottom: 36px;

    label {
      font-weight: 700;
      font-size: 1.25em;
    }
  }

  .categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include boxTheme($color: #3aa59d);

    padding: 16px;
    margin-bottom: 36px;

    h3 {
      margin-top: 0px;
    }

    .lists {
      display: flex;
      h3 {
        margin: 0px;
      }
    }

    button {
      margin: 0px 16px;
    }
  }


  .items-container {
    display: flex;
    flex-direction: column;

    margin: 10px;

    ul {
      @include boxTheme($color: #59a53a);
      padding: 16px;
      margin: 0px;
    }

    i:hover {
      cursor: pointer;
      color: #00ffb1;
    }

    li {
      margin: .5em;
      font-weight: 700;
    }

    li:hover {
      cursor: grab;
    }

    button {
      padding: 0px;
      border: 0px;
      background: none;
    }

    .list-entry {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.messages {
  .error {
    color: red;
    @include boxTheme($color: black);
    padding: 16px;
    margin: 10px;
  }

  .info {
    @include boxTheme($color: grey);
    padding: 16px;
    margin: 10px;
  }
}

.highlighted {
  background-color: yellow;
}

.hidden {
  display: none;
}
