body {
  background-color: blanchedalmond;
}

.header {
  display: flex;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  padding: 10px;
}

.user-btn {
  margin-right: 5px;
}
